API_URL=your_api_url_here
API_URL_BAK=your_backup_api_url_here
QUALITY=[HI_RES_LOSSLESS | LOSSLESS | HIGH | LOW] # defaults to LOSSLESS
TIMEOUT=timeout # defaults to 3
OUTPUT_DIRECTORY=path # defaults to $HOME/Downloads/
CACHE_DIRECTORY=path # defaults to XDG_CACHE_HOME or $HOME/.cache/
